<p>layout works!</p>
<p>{{layoutsFacade?.testMessageForLayoutComponent}}</p>
<div>
    <button (click)="layoutsFacade?.loadAll()">Load Layout - dataPersistence</button>
</div>
<div>
    <button (click)="layoutsFacade?.loadAllSwitchMap()">Load Layout - SwitchMap</button>
</div>